body {
	background:#fff;
	padding:5px;
}
.container.full {
	max-width:100%;
}
h1 {
	font-size:1.5rem;
}
.none {
	display:none;
}
.text_right {
	text-align:right;
}
.text_light {
	color:#ccc;
}
.text_center {
	text-align:center;
}
#newFolderName {
	width:50%;
	margin-top:10px;
}

#fileUploader {
	width:100%;
	min-height:50px;
	padding:5px;
	border:1px solid #efefef;
	margin-bottom:10px;
	.formRow {
		position:relative;
	}
	#fileSelectOver {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:28px;
		border:1px solid #0069d9;
		background:#0069d9;
		pointer-events:none;
		border-radius:5px;
		text-align:center;
		color:#fff;
	}
	#file {
		font-size:11px;
		width:100%;
		overflow:hidden;
	}
	.droppable {
		border: #F5F3F3 1px solid;
		border-radius: 8px;
		background: #F5F3F3;
		color: #666;
		padding: 20px;
		margin: 10px;
		clear: both;
		font-size:12px;
		text-align: center;
	}

	.droppable.hover {
		background: #ddd;
	}

	.uploadList {
		margin: 0 0 5px 0;
		padding: 0;
		list-style: none;
	}

	.uploadItem {
		overflow: hidden;
		font-size:11px;
		border-bottom: #efefef 1px solid;
		margin: 0 5px;
		padding: 3px;
	}

	.uploadItem span {
		overflow: hidden;
		width: 150px;
		float: left;
		display: block;
	}

	a.addInputRow,
	a.delInputRow,
	.uploadItem a {
		display: inline-block;
		height: 16px;
		width: 16px;
	}

	.uploadItem a {
		float: left;
		display: block;
		padding-left: 20px;
		background-image: url(delete.png);
	}

	a.delInputRow {
		background-image: url(delete.png);
	}

	.progress {
		margin: 5px 0;
		height: 5px;
		border-radius: 3px;
		background: #0069D9;
	}
	
	#uploadSubmit {
		margin-top:5px;
	}
	
}

#previewFileAbs {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
	background:#EBEBEB url('/FileManager/css/images/preview.jpg') no-repeat center center;
	background-size:contain;
	
	&.full {
		width:300%;
		height:200%;
	}
}
#previewFile {
	position:relative;
	margin-bottom:20px;
	width:100%;
	height:250px;
	border:1px solid #ccc;
	text-align:center;
	#previewFileResize {
		position:absolute;
		bottom:-20px;
		left:0;
		width:15px;
		height:15px;
		background:#efefef;
		cursor:ne-resize;
	}
	iframe {
		border:1px solid #ccc !important;
		width:100%;
		height:100%;
		border:0px solid red;
		text-align:center;
		&.show {
			background:#fff;
		}
	}
		
}
.fileSelect {
	&.type_directory {
		display:none;
	}
}
#filesTable {
	margin-bottom:20px;
	&.preloader {
		&:before {
		background:rgba(255,255,255,0.6) url('/FileManager/css/images/preloader.gif') no-repeat center center;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		content:'';
		}
	}
	width:100%;
	tr {
		td,th {
			padding:3px;
		}
		td {
			.edit_input {
				border:0;
				background:transparent;
				width:90%;
			}
			.fa {
				text-decoration:none;
				
			}
			.fileSelect {
				color:#ff0000;
				&:hover {
					color:#000;
				}
			}
		}
	}
}

.file_icon {
	width:20px;
	height:20px;
	background-repeat:no-repeat;
	background-position:center center;
	display:inline-block;
	background:#ccc;
	border-radius:10px;
	font-size:10px;
	vertical-align:middle;
	text-align:center;
	line-height:18px;
	margin-right:10px;
	&.ico_txt {background:#67CE86}
	&.ico_dir {background:#FFCC00}
	&.ico_pdf {background:#5C00FF;color:#fff;}
	&.ico_gif {background:#2CEA2C;}
	&.ico_png {background:#2CB7EA;}
	&.ico_jpg {background:#FCFF7C;}
	&.ico_doc,&.ico_docx,&.ico_odt  {background:#FF897C;}
	&.ico_xls,&.ico_xlsx,&.ico_ods  {background:#FF7CAB;}
}

#fstAlert {
	
	position:fixed;
	top:-100px;
	left:0;
	right:0;
	margin:auto;
	z-index:1000;
	-webkit-transition: all 0.5s; /* Safari */
	transition: all 0.5s;
	&.show {
		transition: all 0.5s;
		top:0;
	}
}
#currentPath {
	float:right;
	clear:both;
	color:#ccc;
	font-size:11px;
	span {
		color:#666;
	}
}
.tips {
	clear:both;
	float:right;
	color:#ccc;
	font-style:italic;
	font-size:0.7rem;
}