<script src="/FileManager/js/ckeditor/ckeditor.js"></script>

<textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
</textarea>

<script type="text/javascript">
//<![CDATA[
CKEDITOR.replace( 'editor1', {
	height: 300,

});
//]]>
</script>